.front-page {
	aside {
		background:#90af64;
		float:left;
		width:50%;
		height:100%;
		display:block;
		position:fixed;
	}
	article {
		background:#000;
		float:right;
		width:50%;
		display:block;
		
	}
}